* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
header {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.header {
    margin: 2em 0 12px 0;
    font-size: 28px;
    color: #545459;
}

body > * p {
    color: #8b8b8b;
}

.header span {
    font-weight: 750;
}

.card--container {
    display: grid;
    width: 70%;
    margin: 2em auto;
    grid-template-areas: 'supervisor team calculator'
                        'supervisor karma calculator';
}

.card--container .card__content {
    width: 300px;
    height: 250px;
    display: grid;
    margin: 12px;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0 2px 12px  rgba(0, 0, 0, .2);
}

.card--container .card__content p {
    grid-column: span 2;
    position: relative;
    top: -15px;
    line-height: 1.5em;
}

.card--container .card__content img {
    justify-self: end;
    align-self: flex-end;
    grid-column: 2/3;
}

.card--container .supervisor {
    grid-area: supervisor;
    border-top: 3px solid #45d3d3;
}

.card--container .team {
    grid-area: team;
    border-top: 3px solid #ea5353;
}

.card--container .calculator {
    grid-area: calculator;
    border-top: 3px solid #549ef2;
}

.card--container .karma {
    grid-area: karma;
    border-top: 3px solid #fcaf4a;
}

.card--container .supervisor, .calculator {
    position: relative;
    top: 25%;
}


/*--- responsiveness ----*/

@media screen and (max-width: 768px) {
    .card--container {
        display: grid;
        grid-template-areas: 'supervisor'
                                'team'
                                'karma'
                                'calculator';
        width: 50%;
        /* margin: 0 auto; */
        gap: 12px;
        justify-content: center;
        align-items: center;
        background: #ea5353;

    }
    .card--container .supervisor {
        grid-area: supervisor;
    }
    .card--container .team {
        grid-area: team;
        margin-top: 5em;
    }
    .card--container .karma {
        grid-area: karma;
    }
    .card--container .calculator {
        grid-area: calculator;
        margin-top: -2.2em;
    }
    
}
